 body{
                background-color: rgb(252, 249, 253);
            }
            #zero{
                margin-top: 200px;
                height: 50px;
                width:500px;
                font-family:cursive;
                
            }
            #two{
                padding: 6px;
                background-color: rgb(251, 252, 251);
            }#JI{
                height:110px;
                background-color: blue;
                text-align: center;

            }
            #final{
                margin-top: 270px;
                height:100px;
                background-color: blue;
            }
