body{
                background-color: black;
            }
            #main{
                margin-top: 150px;
                height: 500px;
                width: 300px;
                background-color: rgb(246, 243, 115);
                border-radius: 10px;
            }
            #one{
                
                display: flex;
                justify-content: space-around;
            }#input ,#btn{
                margin-top: 50px;
                padding: 10px;
                border-radius: 5px;
                background-color: rgb(234, 223, 213);
                font-family:cursive;
                color: black;
            }
            #result{
                color:rgb(7, 7, 7);
    font-size:20px;  
    margin-top:10px; 
            }
            #result p{
  margin:10px 0px;
}

#result p:hover{
  cursor: pointer;
}
